@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

header, .scoreSection, .score{
  text-align: center;
}

.options li, .scoreTxt, .score {
  color: #18978F;
}

header, .ques, .btn, .btn2{
  color: #fff;
}

header, .ques, .btn, .btn2{
    background-color: #18978F;
}

.options li, .Question{
  font-size: 15px;
}

.options li, .ques{
  border-radius: 10px;
}

.btn, .btn2{
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  height: 40px;
  width: 130px;
  margin-top: 5%;
}

header{
    height: 100px;
    width: 100%;
    padding-top: 25px;
}

.options li{
  box-shadow: 1px 1px 1px 0px #18978F;
  width: 600px;
  height: 50px;
  border: 2px solid #18978F;
  padding-left: 30px;
  padding-top: 10px;
  margin-top: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}


.Question{
margin-top: 10%;
width: 600px;
margin-left: 35%;
height: 400px;
}

.options{
  margin-top: 5%;
}

.ques{
  padding-left: 30px;
  padding-top: 20px;
  margin-top: 8%;
  height: 70px;
  font-weight: bold;
}

.btn{
  margin-left: 78%;
}

ul{
  list-style: none;
}

.scoreSection{
  visibility: hidden;
  padding-top: 5%;
}

.score{
  font-weight: bold;
}

@media (max-width: 1300px){
  .Question{
    margin-left: 13%;
    margin-top: 30%;
  }
}

@media (max-width: 550px){
  .Question{
  width: 350px;
  margin-left: 45px;
  }
  .options li{
    width: 350px;
    padding-left: 20px;
    padding-top: 5px;
  }
  .ques{
      padding-top: 5px;
  }
  .btn{
    margin-left:60%;
  }
  header{
    width: 500px;
    padding-right: 0px;
  }
}
